<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/myStyle.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/myScript.js"></script>
    <link href="../static/assets/favicon.ico" rel="icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>404</title>
</head>
<body>

  <div class="text">
    <h1>404</h1>
    <h2>Uh, Ohh</h2>
    <h3>Sorry we cant find what you are looking for 'cuz its so dark in here</h3>
  </div>
  <div class="torch"></div>


    
</body>
</html>
